In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [3]:
# Download data for KO and PEP
tickets = ['KO', 'PEP']
start_date = '2020-01-01'
end_date = '2026-01-01'

price_data = yf.download(tickets, 
                        start=start_date, 
                        end=end_date, 
                        interval="1d",
                        auto_adjust=True)

price_data.head()

[*********************100%***********************]  2 of 2 completed

Price           Close                   High                    Low  \
Ticker             KO         PEP         KO         PEP         KO
Date
2020-01-02  45.745106  113.114029  46.111132  114.288300  45.553770
2020-01-03  45.495544  112.955788  45.745111  113.921853  44.996417
2020-01-06  45.478909  113.388855  45.678561  113.530446  45.354128
2020-01-07  45.129517  111.606606  45.420674  113.322232  45.046330
2020-01-08  45.212696  112.181259  45.453942  112.730925  45.046323

Price                        Open                Volume
Ticker             PEP         KO         PEP        KO      PEP
Date
2020-01-02  112.547703  46.019625  113.988483  11867700  3784100
2020-01-03  112.539376  45.187750  112.814209  11354500  4000100
2020-01-06  112.597676  45.462274  112.680963  14698300  4085100
2020-01-07  111.556638  45.295893  113.263928   9973900  5718100
2020-01-08  111.656589  45.146147  111.981390  10676000  3681400

In [4]:
# Save raw data (closing prices only)
price_close = price_data['Close']
price_close.head()

Ticker             KO         PEP
Date
2020-01-02  45.745106  113.114029
2020-01-03  45.495544  112.955788
2020-01-06  45.478909  113.388855
2020-01-07  45.129517  111.606606
2020-01-08  45.212696  112.181259

In [5]:
prices = price_close.dropna()
prices.to_csv("../data_raw/ko_pep_prices.csv")
prices.head()

Ticker             KO         PEP
Date
2020-01-02  45.745106  113.114029
2020-01-03  45.495544  112.955788
2020-01-06  45.478909  113.388855
2020-01-07  45.129517  111.606606
2020-01-08  45.212696  112.181259