In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import sys
sys.path.append("..")
from src.data_loader import download_price_data

In [2]:
# Download data for KO and PEP
tickets = ['KO', 'PEP']
start_date = '2020-01-01'
end_date = '2026-01-01'

price_data = download_price_data(tickets, start_date, end_date)
price_data.head()

[*********************100%***********************]  2 of 2 completed

Price           Close                   High                    Low  \
Ticker             KO         PEP         KO         PEP         KO
Date
2020-01-02  45.745094  113.114052  46.111120  114.288323  45.553759
2020-01-03  45.495537  112.955803  45.745103  113.921868  44.996410
2020-01-06  45.478901  113.388847  45.678554  113.530438  45.354121
2020-01-07  45.129517  111.606598  45.420674  113.322224  45.046330
2020-01-08  45.212708  112.181259  45.453954  112.730925  45.046334

Price                        Open                Volume
Ticker             PEP         KO         PEP        KO      PEP
Date
2020-01-02  112.547725  46.019613  113.988506  11867700  3784100
2020-01-03  112.539391  45.187742  112.814225  11354500  4000100
2020-01-06  112.597668  45.462266  112.680955  14698300  4085100
2020-01-07  111.556631  45.295893  113.263920   9973900  5718100
2020-01-08  111.656589  45.146159  111.981390  10676000  3681400

In [3]:
# Save raw data (closing prices only)
price_close = price_data['Close']
price_close.head()

Ticker             KO         PEP
Date
2020-01-02  45.745094  113.114052
2020-01-03  45.495537  112.955803
2020-01-06  45.478901  113.388847
2020-01-07  45.129517  111.606598
2020-01-08  45.212708  112.181259

In [5]:
prices = price_close.dropna()
prices.to_csv("../data_raw/prices.csv")
prices.head()

Ticker             KO         PEP
Date
2020-01-02  45.745094  113.114052
2020-01-03  45.495537  112.955803
2020-01-06  45.478901  113.388847
2020-01-07  45.129517  111.606598
2020-01-08  45.212708  112.181259