In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import sys
sys.path.append("..")
from src.data_loader import download_price_data

In [2]:
# Download data for KO and PEP
tickets = ['SPY', 'IVV']
start_date = '2020-01-01'
end_date = '2026-01-01'

price_data = download_price_data(tickets, start_date, end_date)
price_data.head()

[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker             IVV         SPY         IVV         SPY         IVV
Date
2020-01-02  298.040619  297.698975  298.040619  297.717320  295.876011
2020-01-03  295.748169  295.444672  296.889842  296.571808  294.560840
2020-01-06  296.917114  296.571869  296.962798  296.654338  293.893967
2020-01-07  296.104309  295.737976  296.807570  296.480228  295.601956
2020-01-08  297.611328  297.314148  298.853455  298.532899  296.022100

Price                         Open               Volume
Ticker             SPY         IVV         SPY      IVV       SPY
Date
2020-01-02  295.554688  296.816749  296.480224  4070500  59151200
2020-01-03  294.244238  294.579097  294.299218  4290400  77709700
2020-01-06  293.566170  293.994449  293.685302  4212000  55653900
2020-01-07  295.288939  296.341758  296.003701  3632500  40496400
2020-01-08  295.683022  296.268720  295.930430  3912100  68296000

In [3]:
# Save raw data (closing prices only)
price_close = price_data['Close']
price_close.head()

Ticker             IVV         SPY
Date
2020-01-02  298.040619  297.698975
2020-01-03  295.748169  295.444672
2020-01-06  296.917114  296.571869
2020-01-07  296.104309  295.737976
2020-01-08  297.611328  297.314148

In [4]:
prices = price_close.dropna()
prices.to_csv("../data_raw/prices.csv")
prices.head()

Ticker             IVV         SPY
Date
2020-01-02  298.040619  297.698975
2020-01-03  295.748169  295.444672
2020-01-06  296.917114  296.571869
2020-01-07  296.104309  295.737976
2020-01-08  297.611328  297.314148