In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import sys
sys.path.append("..")
from src.data_loader import download_price_data

In [6]:
# Download data
tickets = ['SPY', 'IVV']
# tickets = ['XLF', 'KBE']
start_date = '2020-01-01'
end_date = '2026-01-01'

price_data = download_price_data(tickets, start_date, end_date)
price_data.head()

[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker             IVV         SPY         IVV         SPY         IVV
Date
2020-01-02  298.040588  297.699036  298.040588  297.717381  295.875981
2020-01-03  295.748138  295.444733  296.889812  296.571870  294.560810
2020-01-06  296.917236  296.571838  296.962920  296.654308  293.894088
2020-01-07  296.104431  295.737976  296.807692  296.480228  295.602078
2020-01-08  297.611328  297.314148  298.853455  298.532899  296.022100

Price                         Open               Volume
Ticker             SPY         IVV         SPY      IVV       SPY
Date
2020-01-02  295.554748  296.816718  296.480284  4070500  59151200
2020-01-03  294.244299  294.579066  294.299278  4290400  77709700
2020-01-06  293.566140  293.994570  293.685272  4212000  55653900
2020-01-07  295.288939  296.341880  296.003701  3632500  40496400
2020-01-08  295.683022  296.268720  295.930430  3912100  68296000

In [7]:
# Save raw data (closing prices only)
price_close = price_data['Close']
price_close.head()

Ticker             IVV         SPY
Date
2020-01-02  298.040588  297.699036
2020-01-03  295.748138  295.444733
2020-01-06  296.917236  296.571838
2020-01-07  296.104431  295.737976
2020-01-08  297.611328  297.314148

In [8]:
prices = price_close.dropna()
prices.to_csv("../data_raw/prices.csv")
prices.head()

Ticker             IVV         SPY
Date
2020-01-02  298.040588  297.699036
2020-01-03  295.748138  295.444733
2020-01-06  296.917236  296.571838
2020-01-07  296.104431  295.737976
2020-01-08  297.611328  297.314148