In [2]:
import sys
sys.path.append("..")

import pandas as pd

In [3]:
# Load features
features = pd.read_csv(
    "../data_processed/features.csv",
    index_col=0,
    parse_dates=True
)

features.head()

,price1,price2,beta,spread,spread_mean,spread_std,z_score,spread_change,spread_vol_20,ret1,ret2,adf_p_252,hurst_252,adf_stationary,hurst_mr,regime_score
Date,,,,,,,,,,,,,,,,
2020-12-31,47.181480,127.106888,0.297045,113.091850,102.502775,5.571701,1.900510,0.746264,0.898986,0.007347,0.006720,0.216485,0.302993,0,1,1
2021-01-04,45.391956,123.652817,0.297045,110.169348,102.545346,5.589174,1.364066,-2.922501,0.906599,-0.037929,-0.027175,0.252551,0.303254,0,1,1
2021-01-05,44.892956,124.021393,0.297045,110.686150,102.588229,5.610057,1.443465,0.516802,0.911003,-0.010993,0.002981,0.216342,0.302288,0,1,1
2021-01-06,43.464779,122.504280,0.297045,109.593271,102.633436,5.620454,1.238305,-1.092879,0.970460,-0.031813,-0.012233,0.217369,0.301430,0,1,1
2021-01-07,42.982983,122.110039,0.297045,109.342145,102.675464,5.630896,1.183947,-0.251126,1.039151,-0.011085,-0.003218,0.215428,0.300620,0,1,1

In [5]:
# predict will mean-revert over the next N days, 1 = yes, 0 = no
N = 5  # prediction horizon in days

z = features["z_score"]
future_abs_z = z.abs().shift(-N)

y = (future_abs_z < z.abs()).astype(int)
y.name = "y"

In [7]:
# join the labels
dataset = features.join(y).dropna()
dataset.head()

# Sanity checks
dataset["y"].value_counts(normalize=True)
dataset[["z_score", "y"]].tail(20)

             z_score  y
Date
2025-12-03  0.634672  0
2025-12-04  0.515164  0
2025-12-05  0.482135  0
2025-12-08  0.559174  0
2025-12-09  0.446421  0
2025-12-10  1.103812  0
2025-12-11  1.069622  0
2025-12-12  1.234421  1
2025-12-15  1.295569  1
2025-12-16  1.214509  1
2025-12-17  1.171000  1
2025-12-18  1.093584  1
2025-12-19  0.949769  1
2025-12-22  0.799936  1
2025-12-23  0.366138  1
2025-12-24  0.368690  0
2025-12-26  0.386626  0
2025-12-29  0.440793  0
2025-12-30  0.437342  0
2025-12-31  0.361632  0

In [8]:
# save the dataset
dataset.to_csv("../data_processed/dataset.csv")
print("Saved dataset to data_processed/dataset.csv")
print("Shape:", dataset.shape)

Saved dataset to data_processed/dataset.csv
Shape: (1256, 17)